@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

body, html {
    background-color: black;
    min-width: 250px;
    max-width: 276px;
    min-height: 100px;
    max-height: 600px;
    padding: 5px;
    -ms-overflow-style: none;  /* IE and Edge */
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* header */

.header .logo {
    height: 100px;
    width: 100px;
    position: relative;
    left: calc(50% - 50px);
    margin: auto;
}

.header .logo:hover {
    content: url("../images/stick logo.png")
}

.container {
    padding: 10px 10px 0 10px;
}

.newNoteLabel {
    color: white;
    font-family: 'Julius Sans One', sans-serif;
}

.newNote {
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
    position: relative;
    resize: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 14px;
    height: 1em;
}

.newNote:focus {
    outline: none;
}

.link {
    display: flex;
    margin: 15px 0;
}

.text {
    color: white;
    font-family: monospace;
    font-size: 14px;
    overflow-x: scroll;
}

.trash {
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    background-color: transparent;
    outline: none;
    border: none;
    margin-right: 8px;
}

.trash:hover {
    color: red;
}
