html {
    margin: 0;
    padding: 15px;
    background-color: black;
    height: 100%;
    width: 100%;
}

body {
    height: 90%;
}

.header {
    width: 100%;
    min-height: 10%;
}

.logo {
    margin: auto;
    width: 10%;
    height: 10%;
    left: 45%;
    position: relative;
}

#notes {
    min-height: 80%;
    width: 50%;
    position: relative;
    left: 25%;
    margin: 5% 0;
}
