html {
    margin: 0;
    padding: 0;
    background-color: black;
    height: 100%;
    max-width: 100%;
}

body {
    height: 100%;
    max-width: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    min-height: 10%;
    position: relative;
    margin-top: 5%;
}

.logo {
    width: 20%;
    height: 20%;
    left: 40%;
    position: relative;
}

#notes {
    min-height: 30%;
    width: 40%;
    position: relative;
    margin: 5px;
    left: 30%;
}

.link {
    display: flex;
}

.trash {
    color: white;
    position: relative;
    outline: none;
    border: none;
    background-color: transparent;
    margin: 5px;
    display: inline-block;
}

.trash:hover {
    color: red;
}

textarea {
    color: white;
    background-color: black;
    width: 100%;
    resize: none;
    left: calc(50% - 150px);
    margin: 5px;
    font-size: 16px;
    border: none;
    height: 1em;
}
::-webkit-scrollbar {
    display: none;
}
textarea:focus {
    outline: none;
}

.newNote {
    background-color: transparent;
    border: none;
    color: white;
    width: 40%;
    min-height: 40%;
    position: relative;
    resize: none;
    margin-top: 25px;
    font-size: 16px;
    left: 30%;
}

.newNote:focus {
    outline: none;
}
