<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stick</title>
    <link rel="stylesheet" href="../static/css/popup.css">
    <script src="../static/js/popup.js" charset="utf-8"></script>
</head>
<body>
    <div class="header">
        <img class="logo" src="../static/images/logo white.png" alt="stick logo">
    </div>
    <div class="container">
        <textarea class="newNote" id="newnote" name="newnote" placeholder="type something..."></textarea>
        <button class="addNewNote">+ Add New Note</button>
    </div>
</body>
</html>
