<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>stick</title>
    <script src="../static/js/popup.js" charset="utf-8"></script>
</head>
<body>
    <div class="header">
        <img class="logo" src="../static/images/logo.png" alt="betta logo">
        <h1>stick</h1>
    </div>
    <div class="container">
        <label>
            <textarea name="message" rows="10" cols="30">The cat was playing in the garden.</textarea>
        </label>
        <button class="addNewNote">Add New Note</button>
        <button class="reset">View Notes</button>
        <button class="website">Website</button>
    </div>
</body>
</html>
